 <%= @user.name %>, thank you for your purchase!</h1>
==========================================================
      Your purchase has been submmitted. We here at Mini Mart strive
    to meet all your little needs. We appreciate your business and
    look forward to meeting all your needs in the future both big and
    small (ok well small, we don't actually sell anything big... hence the
    name Mini Mart). Remember if it's tiny, small, and mini we sell it!


       If you want to see all of our stock and your order history visit us
    at <%= @url %>

       Again thanks for your business and we hope you have a Mini day!
