<div class="container">
<h1> Admin Dashboard </h1>
<div class="col-12">
<%= link_to "Edit Admin Account", edit_admin_dashboard_path(id: current_user.id), class: "btn btn-primary btn-block" %>
</div>
</div>
