<!-- Header -->
<header class="welcome-banner">
  <div class="headline">
    <h1>Welcome to the Mini Market!</h1>
    <h3>We specialize in all things small, tiny, diminuative, little, and of course, mini.</h3>
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Browse Items by Category</button>
  </div>
</header>

<hr>

<div class="container-fluid">
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Featured Items</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="https://unsplash.it/800/500/?random" alt="">
            <div class="caption">
                <h3>Item Name</h3>
                <p>Item Description.</p>
                <p><em>$20.00</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="https://unsplash.it/800/500/?random" alt="">
            <div class="caption">
                <h3>Item Name</h3>
                <p>Item Description.</p>
                <p><em>$20.00</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="https://unsplash.it/800/500/?random" alt="">
            <div class="caption">
                <h3>Item Name</h3>
                <p>Item Description.</p>
                <p><em>$20.00</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="https://unsplash.it/800/500/?random" alt="">
            <div class="caption">
                <h3>Item Name</h3>
                <p>Item Description.</p>
                <p><em>$20.00</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

<hr>

<div class="container">
	<div class="row">
    <form class="form-horizontal">
      <fieldset>
      <!-- Form Name -->
      <legend>Sign In</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email</label>
        <div class="col-md-4">
        <input id="textinput" name="textinput" placeholder="Insert your Email" class="form-control input-md" required="" type="text">
        <span class="help-block"> </span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Password</label>
        <div class="col-md-4">
        <input id="textinput" name="textinput" placeholder="Insert your Password" class="form-control input-md" required="" type="text">
        <span class="help-block"> </span>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"> </label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
</div>
</div>
