<!-- Header -->
<header class="welcome-banner">
  <div class="headline">
    <h1>Welcome to the Mini Market!</h1>
    <h3>We specialize in all things small, tiny, diminuative, little, and of course, mini.</h3>
    <a id="singlebutton" name="singlebutton" class="btn btn-primary" href="/categories">Browse Items by Category</a>
  </div>
</header>

<hr>

<div class="container-fluid">
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Featured Items</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://www.newfoundreads.com/wp-content/uploads/2016/04/teacup-pig-1.jpg" alt="Tea Cup Pig">
            <div class="caption">
                <h3>Tea Cup Pig</h3>
                <p>Ever wonder where bacon bits come from?</p>
                <p><em>$199.99</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://static.usnews.rankingsandreviews.com/images/Auto/custom/13282/2017_MINI_Cooper_2.jpg" alt="Mini Cooper">
            <div class="caption">
                <h3>Mini Cooper</h3>
                <p>I don't know about you but I've always wanted to reenact the scene in the Italian Job where they drive through the sewer in the Mini Coopers.</p>
                <p><em>$23999.99</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://www.goodfoodrecipes.com/wp-content/uploads/2014/06/osman-gazi.jpg" alt="Painted Beans">
            <div class="caption">
                <h3>Tiny Painted Beans</h3>
                <p>Want to appear fancier then you really are? Our intricately painted beans will be the hit of any party! *** Warning paint may contain traces of lead ***</p>
                <p><em>$19.99</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://www.thepetmatchmaker.com/wp-content/uploads/2014/10/tiny-animal-7.jpg" alt="Fuzzy Thing">
            <div class="caption">
                <h3>Fuzzy Thing</h3>
                <p>Don't know what this is? Us either, but you know you want it!</p>
                <p><em>$99.99</em></p>
                <p>
                    <a href="#" class="btn btn-primary">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

<hr>

<div class="container">
	<div class="row">
    <form class="form-horizontal">
      <fieldset>
      <!-- Form Name -->
      <legend>Create a New Account</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">First Name</label>
          <div class="col-md-4">
          <input id="textinput" name="textinput" placeholder="Insert your First Name" class="form-control input-md" required="" type="text">
          <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Last Name</label>
          <div class="col-md-4">
          <input id="textinput" name="textinput" placeholder="Insert your Last Name" class="form-control input-md" required="" type="text">
          <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Email</label>
          <div class="col-md-4">
          <input id="textinput" name="textinput" placeholder="Insert your Email" class="form-control input-md" required="" type="text">
          <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Password</label>
          <div class="col-md-4">
          <input id="textinput" name="textinput" placeholder="Insert your Password" class="form-control input-md" required="" type="text">
          <span class="help-block"> </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Confirm Password</label>
          <div class="col-md-4">
          <input id="textinput" name="textinput" placeholder="Confirm your Password" class="form-control input-md" required="" type="text">
          <span class="help-block"> </span>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"> </label>
          <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
          </div>
        </div>

      </fieldset>
    </form>
	</div>
</div>

<hr>

<div class="container">
	<div class="row">
    <form class="form-horizontal">
      <fieldset>
      <!-- Form Name -->
      <legend>Sign In</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email</label>
        <div class="col-md-4">
        <input id="textinput" name="textinput" placeholder="Insert your Email" class="form-control input-md" required="" type="text">
        <span class="help-block"> </span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Password</label>
        <div class="col-md-4">
        <input id="textinput" name="textinput" placeholder="Insert your Password" class="form-control input-md" required="" type="text">
        <span class="help-block"> </span>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"> </label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
</div>
</div>
