.item {
  height: 400px;
  margin-top: 10px;
}

.item .img-responsive {
  max-height: 200px;
}

.item .thumbnail{
  // height: 400px;
  margin-top: 10px;
}

.item h3 {
  font-weight: 700;
}

.item-cart-btn {
  width:90%;
  margin: 0 auto;
}

$line-height: 1.4;
$lines-to-show: 2;

.item-description {
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
