.item-image {
  height: 160px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

// .item-container {
//   margin: 20px;
//   background: lightgray;
//   padding: 15px;
//   max-height: 400px;
// }

.item-container h3 {
  font-weight: 700;
}

.item-container btn-primary {
  margin-bottom: 10px;
}
