.navbar-brand {
  padding-top: 0px;
  padding-right: 15px;
}

.navbar-link-categories,
.navbar-link-items,
.navbar-link-logged-in,
.navbar-link-logout,
.navbar-link-login,
.navbar-link-cart a {
  color: $navbar-link;
  text-decoration: none;
  font-weight: 300;
}

.navbar-collapse {
  padding-top: 15px;
}
