/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

//Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Import SCSS Components
@import 'base/normalize';
@import 'base/typography';



$primaryColor: #eeffcc;

// body {
//     background: $primaryColor;
//     font-family: 'Lato', sans-serif;
// }

.item-image {
  height: 160px;
}

.item-container {
  margin-bottom: 60px;
}

html, body{
  	font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background: #FFf;
}
body a{
	transition:0.25s all;
	-webkit-transition:0.25s all;
	-moz-transition:0.25s all;
	-o-transition:0.25s all;
	-ms-transition:0.25s all;
}

.welcome-banner{
    display: block;
    width: 100%;
    text-align: center;
    background: #0088cc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
    text-align: left;
}

.navbar-brand {
  padding-top: 0px;
  padding-right: 15px;
}

.navbar-link a{
  color: #e53a32;
  text-decoration: none;
}

.navbar-collapse {
  padding-top: 15px;
}
