
<div class="container">

  <h1 class="page-header">All Categories</h1>

  <% @categories.each do |category| %>
    <div class="item col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img href=category_items_path(@category.id)> <%= image_tag(category.image, class: 'img-responsive') %></img>
        <div class="caption">
          <%= link_to category.title, category_items_path(category.id) %><br />
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
